<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Adult">
	<setting label="Show Adult Section in list" type="bool" id="adult" default="false" />
	<setting id="password" type="text"label="Adult Password" default="" visible="true" option="hidden" enable="!eq(-1,false)"/>
	</category>
    <category label="Source">
        <setting label="Source Url" type="text" id="sUrl" default="http://www.dutchsportstreams.com/nltv/index.txt" />
        </category>
</settings>
